<%= link_to "投稿画面へ", "messages/new" %>
<% @messages.each do |message| %>
  <p>
    <%= message.title %>
    <%= link_to "詳細", "messages/#{message.id}" %>
    <%= link_to "編集", "messages/#{message.id}/edit", method: :get %>
  </p>
<% end %>